.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Todo-App{
  padding-top:20px;
  display: inline-block;
  text-align: left;
}

.Todo-List > button{
  margin-top: 20px;
  background-color: #139DC0;
  color:#FFF;
  border:none;
  padding: 10px;
  width:100%;
  border-radius: 10px;
  cursor: pointer;
}

input{
  font-size:20px;
}

ul{
  padding:0px;
}

li{
  list-style-type: none;
  margin-bottom: 10px;
}

li a{
  float:right;
  font-size:10px;
  color:#CCC;
  margin-top:5px;
}

.error, .success{
  display: inline-block;
  margin-top: 5px;
  color:red;
  height:20px;
}

.success{
  color:green;
}

.Footer {
  padding:20px 0;
}

.Footer a{
  padding: 20px 5px;
}

.Footer a.active{
  font-weight: bold;
}